@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Outfit:wght@100;200;300;400;500;600&family=Playfair+Display:ital@0;1&display=swap');

/*PUEDE HABER ERRORES PORQUE ESTUVE PONIENDO Y SACANDO CLASES, SE ME COMPLICA UN POCO BOOTSTRAMPS, YA QUE AL MODIFICAR ALGO SE MUEVE TODO*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
}
.bgGreey{
    background-color: greenyellow;
}
.carousel-item{
    width: 100%;
    height: 60vh;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width:0px) and (max-width: 768px){
    .carousel-item{
        height: 40vh;
    }
    .carousel-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}
.contenedorTituloPrincipal h1{
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}
.contenedorTituloPrincipal h2{
    text-align: center;
}
.container h3{
    text-align: center;
}

.map-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh
}
.bi-instagram{
    font-size: 20px;
    color: rgb(255, 0, 55);
}
.bi-facebook{
    font-size: 20px;
}
.bi-whatsapp{
    font-size: 20px;
    color: rgb(1, 218, 1);
}
.banner {
    /* Estilos personalizados para el banner */
    background-color: #141111;
    padding: 20px;
    text-align: center;
}